<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Utilities website</title>
</head>
<body>
    <h1>Utilities website</h1><br />
    <a href="useful/colored">Change background color</a>
    <a href="/useful/email?email=is@this.valid">Email validator</a>
    <a href="/useful/encode?text=abc&number=1">Email validator</a>
</body>
</html>
